@{
    string GetActive(string path, string where = "controller", string css = "active")
    {
        string controller = path;
        string action;
        if (where == "action")
        {
            action = controller.Split("/")[1];
            controller = controller.Split("/")[0];
            return ViewContext.RouteData.Values["controller"].ToString().Equals(controller) && ViewContext.RouteData.Values["action"].ToString().Equals(action) ? css : null;
        }
        return ViewContext.RouteData.Values["controller"].ToString().Equals(path) ? css : null;
    }
}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@User.Identity.Name</span>
                    <span class="text-secondary text-small">Author</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item @GetActive("Dashboard")">
            <a asp-area="Author" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item @GetActive("News")">
            <a class="nav-link @GetActive("News", css:"collapsed")" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">My News</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-newspaper menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a asp-area="Author" asp-controller="News" asp-action="Index" class="nav-link @GetActive("News/Index", "action")">All News</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                <span class="menu-title">Go Website</span>
                <i class="mdi mdi-home-circle menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Auth" asp-action="Logout" class="nav-link">
                <span class="menu-title">Logout</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>
        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <div class="border-bottom">
                    <h6 class="font-weight-normal mb-3">Actions</h6>
                </div>
                <a asp-area="Author" asp-controller="News" asp-action="WriteNews" class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Write News</a>
                <div class="mt-4">
                    <div class="border-bottom">
                        <p class="text-secondary">Popular Categories</p>
                    </div>
                    <ul class="gradient-bullet-list mt-4">
                        <li>Health</li>
                        <li>Science</li>
                    </ul>
                </div>
            </span>
        </li>
    </ul>
</nav>